body {
    background-color: antiquewhite;
    font-weight: bold;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: auto;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    font-size: 1.5rem;
    padding: 0 1rem;
}

.center {
    text-align: center;
}

.center img {
    width: 80%;
}

.myriad {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 300;
}

p {
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.xl {
    font-size: 3rem;
    margin-bottom: 0;
}

.sm {
    margin-top: 0;
}

a {
  text-decoration: none;  
}

.yellow-box {
    float: right;
    width: 65%;
    background-color: #ffff80;
}

.yellow-box img {
    width: 50%;
    margin: 5rem 1rem;
}